<h1>Home</h1>
<div class="box">
    Current environment: @ViewBag.CurrentEnvironment
</div>

<environment include="Development">
    <button>Button only for Development Environment</button>
</environment>
